
.App {

  width: 700px;
  z-index: 100;
  opacity: 0.9;
  margin:auto;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 7px  double;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.mainInfo{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.topInfo{
    font-size:2em;
    padding:5px;
    display: flex;
}
.Weather2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.topInfo >div{
    margin:5px;
}
.favorites{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
}
.weatherHere {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
}



h2 {
  font-size: 25px;

  font-weight: normal;
  text-align: left;
}
#addCity{

  font-size: 18px;
  padding: 8px;
  border-radius: 8px;
  border: 2px  inset;
}
